<div class="row">
  <!-- Farms -->
  <div class="col-xl-3 col-sm-6 mb-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="text-uppercase text-muted small fw-bold mb-1">Farms</p>
          <h4 class="fw-bold mb-2">{{ farms.length }}</h4>
          
        </div>
        <div class="icon-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-house-door-fill"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Crops -->
  <div class="col-xl-3 col-sm-6 mb-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="text-uppercase text-muted small fw-bold mb-1">Crops</p>
          <h4 class="fw-bold mb-2">{{ crops.length }}</h4>
          
        </div>
        <div class="icon-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-flower1"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Resources -->
  <div class="col-xl-3 col-sm-6 mb-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="text-uppercase text-muted small fw-bold mb-1">Resources</p>
          <h4 class="fw-bold mb-2">{{ farms.length }}</h4>
          
        </div>
        <div class="icon-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-arrow-up-right"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Expenses -->
  <div class="col-xl-3 col-sm-6 mb-4">
    <div class="card dashboard-card shadow-sm border-0">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="text-uppercase text-muted small fw-bold mb-1">Farms</p>
          <h4 class="fw-bold mb-2">{{ farms.length }}</h4>
          
        </div>
        <div class="icon-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-cash-stack"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Card Item -->


</div>

