client_secret*
application-dev*
**/application-dev.properties
pi-dev-backend/src/main/resources/application-dev.properties
**/target/classes/application-dev.properties
# Fichiers sensibles à ne jamais committer
**/application.properties
**/IaFarmService.java
node_modules/
meddhiaalaya/