<app-navbar></app-navbar>
<div class="edit-post-container">
  <h1>Modifier le Post</h1>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="savePost()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" [(ngModel)]="post.title" name="title" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="content">Contenu</label>
      <textarea id="content" [(ngModel)]="post.content" name="content" class="form-control" rows="5" required></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" >
        Enregistrer les modifications
      </button>
      <button type="button" class="btn btn-secondary" (click)="router.navigate(['/frontoffice/blog'])">
        Annuler
      </button>
    </div>
  </form>
</div>
<app-footer></app-footer>