  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="top-header-content d-flex align-items-center justify-content-between">
              <!-- Top Header Content -->
              <div class="top-header-meta">
                <p>Welcome to <span>Farmie</span>, we hope you will enjoy our products and have good experience</p>
              </div>
              <!-- Top Header Content -->
              <div class="top-header-meta text-right">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreativegmail.com</span></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar Area -->
    <div class="famie-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="famieNav">
            <!-- Nav Brand -->
            <a routerLink="/" class="nav-brand"><img src="assets/img/core-img/logo11.png" style="height: 60px;"  alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <!-- Navbar Start -->
              <div class="classynav">
                <ul>
                  <li><a routerLink="/frontoffice/home">Home</a></li>
                  <li><a routerLink="/frontoffice/about">About</a></li>
                  <li><a routerLink="/frontoffice/market">Shop</a></li>
                  <li><a routerLink="/frontoffice/blog">Blog</a></li>
                  <li><a routerLink="/frontoffice/event">Event</a></li>
                  <li><a routerLink="/frontoffice/jobs">Jobs</a></li>
                  <li><a routerLink="/frontoffice/contact">Contact</a></li>





                  <!-- <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/about">About Us</a></li>
                      <li><a routerLink="/market">Shop</a></li>
                      <li><a routerLink="/blog">Blog</a></li>


                      <li><a href="farming-practice.html">Farming Practice</a></li>
                      <li><a href="shop.html">MarketPlace</a>
                        <ul class="dropdown">
                          <li><a href="our-product.html">Our Products</a></li>
                        </ul>
                      </li>
                      <li><a href="news.html">News</a>
                        <ul class="dropdown">
                          <li><a href="news.html">News</a></li>
                          <li><a href="news-details.html">News Details</a></li>
                        </ul>
                      </li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </li> -->
                </ul>
                <!-- Search Icon -->
                <div id="searchIcon">
                  <i app-icon="search" class="'ficon'"></i>
                </div>
                <!-- Cart Icon -->
                <div id="cartIcon">
                  <a [routerLink]="['/frontoffice/payment']">
                    <i app-icon='shopping-cart'></i>
                    
                  </a>
                </div>
                <!-- User Icon -->
                <div id="searchIcon">
                  <a routerLink="/frontoffice/login">
                    <i app-icon="user" class="'ficon'"></i> 
                  </a>
                </div>
              </div>
              <!-- Navbar End -->
            </div>
          </nav>

          <!-- Search Form -->
          <div class="search-form">
            <form action="#" method="get">
              <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
              <button type="submit" class="d-none"></button>
            </form>
            <!-- Close Icon -->
            <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->