<app-navbar></app-navbar>
<div class="facture-container">
  <div *ngFor="let f of factures" class="facture-card" (click)="openDialog(f)">
    <!-- Image d'arrière-plan dynamique -->
    <div class="card-bg-image" [ngStyle]="{'background-image': 'url(assets/images/facture.jpg)'}"></div>

    <div class="card-content">
      <div class="card-header">
        <h3>Facture #{{ f.id }}</h3>
        <span class="status-badge" [ngClass]="getStatutClass(f.statut ?? '')">
            {{ f.statut }}
        </span>
      </div>

      <div class="card-details">
        <p><i class="fas fa-calendar"></i> <strong>Date d'Émission:</strong> {{ f.dateEmission | date:'dd/MM/yyyy' }}</p>
        <p><i class="fas fa-money-bill-alt"></i> <strong>Montant Total:</strong> {{ f.montantTotal | currency }}</p>
        <p><i class="fas fa-money-bill-alt"></i> <strong>Livraison:</strong> {{ f.livraison?.id }}</p>

      </div>

      <div class="card-actions">
        <button class="btn-delete" (click)="$event.stopPropagation(); f.id && supprimerFacture(f.id)">
          <i class="fas fa-trash"></i> Supprimer
        </button>
      </div>
    </div>
  </div>

  <!-- Fenêtre modale de mise à jour de la facture -->
  <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '500px'}" header="Modifier Facture" [closable]="true" (onHide)="closeDialog()">
    <app-updatefacture [facture]="selectedFacture" (close)="closeDialog()"></app-updatefacture>
  </p-dialog>
</div>
<app-createfacture></app-createfacture>
<app-footer></app-footer>
