<app-navbar></app-navbar>
  
<!-- ##### Breadcrumb Area Start ##### -->
<div *ngIf="selectedService" class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('assets/img/bg-img/18.jpg');">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-text">
          <h2>Posting in {{selectedService.title}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="farming-practice-area bg-gray section-padding-100-50" *ngIf="selectedService">
    <app-job-form *ngIf="!fomrSubmitedd" (formSubmitedd)="onFormSubmit()" [jobId]="selectedService.uuid_service!"></app-job-form>
    <h2 *ngIf="fomrSubmitedd"> Thank you for your apply ! </h2>
</section>
<!-- ##### Breadcrumb Area Start ##### -->
<div *ngIf="!selectedService" class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('assets/img/bg-img/18.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Job Not found ! </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
