<app-admin-layout>
  <div style="height: 20px;"></div>
  <div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <!-- <app-chart [farms]="farms"></app-chart> -->
    </div>
    <div class="col-lg-5">
      <!-- <app-carousel></app-carousel> -->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <!-- <app-tasks-table></app-tasks-table> -->
    </div>
    <div class="col-lg-5">
      <!-- <app-categories-list></app-categories-list> -->
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</app-admin-layout>
