<section class="farming-practice-area bg-gray section-padding-100-50">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-heading">
          <p>Make the green world</p>
          <h2><span>Passez Le Quiz</span> Bonne chance</h2>
          <img src="assets/img/core-img/decor2.png" alt="">
        </div>
      </div>
    </div>

    <div *ngIf="quiz" >
      <form (ngSubmit)="onSubmit()" class="quiz-form">
        <div *ngFor="let question of quiz.questions; let i = index" class="question-block">
          <h3>{{ question.questionText }}</h3>
          <div class="answers-container">
            <div *ngFor="let answer of question.answers; let j = index">
              <label>
                <input
                  type="radio"
                  [(ngModel)]="quizForm[i]" 
                  [value]="j" 
                  [name]="'question-' + i"
                  required />
                {{ answer.answerText }}
              </label>
            </div>
          </div>
        </div>

        <button type="submit" class="submit-btn" >
          Soumettre
        </button>
      </form>

      <div *ngIf="submitted" class="result">
        <h3>Votre score : {{ score }} / {{ quiz.questions.length }}</h3>
      </div>
    </div>

    <div *ngIf="!quiz">
      <p class="loading-message">Chargement du quiz...</p>
    </div>
  </div>
</section>
