<div *ngIf="quiz">
    <h2 class="mb-4">{{ quiz.title }}</h2>
    <p class="mb-4">{{ quiz.description }}</p>
  
    <!-- Affichage des questions -->
    <div *ngFor="let question of quiz.questions; let i = index" class="mb-4 border p-3 rounded">
      <div class="question mb-3">
        <label for="questionText{{i}}" class="form-label">Question {{i + 1}}:</label>
        <input
          id="questionText{{i}}"
          type="text"
          [(ngModel)]="question.questionText"
          class="form-control mb-2"
          placeholder="Enter question text"
         />
        <button class="btn btn-danger btn-sm" (click)="deleteQuestion(i)">Delete Question</button>
  
        <!-- Affichage des réponses -->
        <div *ngFor="let answer of question.answers; let j = index" class="mb-2">
          <div class="form-check">
            <input
              id="answer{{i}}_{{j}}"
              type="radio"
              [(ngModel)]="question.correctAnswer.answerText"
              [value]="answer.answerText"
              class="form-check-input"
              name="correctAnswer{{i}}"
            />
            <input
              id="answerInput{{i}}_{{j}}"
              type="text"
              [(ngModel)]="answer.answerText"
              class="form-control d-inline-block w-75"
              placeholder="Enter answer text"
            />
            <button class="btn btn-danger btn-sm ms-2" (click)="deleteAnswer(i, j)">Delete Answer</button>
          </div>
        </div>
  
        <!-- Ajouter une nouvelle réponse -->
        <button class="btn btn-success btn-sm" (click)="addAnswer(i)">Add Answer</button>
  
        <!-- Affichage de la bonne réponse -->
        <div class="mt-3">
          <label for="correctAnswer{{i}}" class="form-label">Correct Answer:</label>
          <select
            id="correctAnswer{{i}}"
            class="form-select"
            [(ngModel)]="question.correctAnswer.answerText"
            (change)="updateCorrectAnswer(i, question.correctAnswer.answerText)"
          >
            <option *ngFor="let answer of question.answers" [value]="answer.answerText">
              {{ answer.answerText }}
            </option>
          </select>
        </div>
      </div>
          <button class="btn btn-primary btn-sm mt-3" (click)="saveQuestion(i)">Add Question</button>

    </div>
  
    <!-- Ajouter une nouvelle question -->
  </div>
 
  <!-- Si le quiz n'est pas défini -->
  <div *ngIf="!quiz">
    <p>Quiz data is not available</p>
  </div>
  