<div class="canvas-container">
    <canvas #canvas></canvas>
    
    <!-- Field Information Overlay -->
    <div class="overlay" *ngIf="selectedField">
      <div class="field-info">
        <!-- <h3>{{ selectedField.name }}</h3>
        <p><strong>Crop:</strong> {{ selectedField.crop }}</p>
        <p><strong>Health:</strong> {{ selectedField.health }}</p>
        <p><strong>Yield Forecast:</strong> {{ selectedField.yieldForecast }} kg/ha</p> -->
        <h3>dhia</h3>
        <p><strong>Crop:</strong> bsal</p>
        <p><strong>Health:</strong> jawwa behi</p>
        <p><strong>Yield Forecast:</strong> 50 kg/ha</p>
      </div>
    </div>
  </div>
  