<!-- product-list.component.html -->
<div class="container mt-4">
    <h2>Product List</h2>
    
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <div *ngIf="!isLoading && products.length === 0" class="alert alert-info">
      No products found.
    </div>
  
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card h-100">
          <img [src]="product.imageUrl || 'https://via.placeholder.com/150'" class="card-img-top" alt="{{product.name}}">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="text-muted">Price: ${{product.price }}</p>
            <p class="text-muted">Quantity: {{product.quantity}}</p>
            
          </div>
          <div class="card-footer bg-transparent">
            <button (click)="deleteProduct(product.uuid_product)" class="btn btn-danger btn-sm">Delete</button>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary w-100" (click)="addToCart(product.uuid_product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>