  <app-navbar></app-navbar>
  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('assets/img/bg-img/18.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Posts</h2>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
       
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
 
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Farming Practice Area Start ##### -->
  <section class="farming-practice-area bg-gray section-padding-100-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>Make the green world</p>
            <h2><span>Liste des posts</span> </h2>
            <img src="assets/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        

        

        <app-post></app-post>

      </div>
    </div>
  </section>
  <!-- ##### Farming Practice Area End ##### -->


  <!-- ##### FAQ Area End ##### -->

  
        
  <!-- ##### Contact Area End ##### -->
   <app-footer></app-footer>