.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.auth-wrapper .auth-inner {
  width: 100%;
  position: relative;
}

.auth-wrapper.auth-cover .auth-inner:before {
  background-image: linear-gradient(
    rgba(34, 41, 47, 0.2),
    rgba(34, 41, 47, 0.2)
  );
}

.auth-wrapper .brand-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  margin: 0;
  z-index: 1;
}

.auth-wrapper .auth-bg {
  background-color: #fff;
}

.cursor-pointer {
  cursor: pointer;
  text-decoration: underline;
  color: #0a58ca;
}