<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2" (click)="togglePanel()">
      <i class="fa fa-cog py-2"></i>
    </a>
    <div class="card shadow-lg" [ngClass]="{'show': isPanelOpen}">
      <div class="card-header pb-0 pt-3">
        <div class="float-start">
          <h5 class="mt-3 mb-0">AgroPulse Configurator</h5>
          <p>See our dashboard options.</p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button" (click)="togglePanel()">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0 overflow-auto">
        <div>
          <h6 class="mb-0">Sidebar Colors</h6>
        </div>
        <div class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary" [ngClass]="{'active': selectedColor === 'primary'}" (click)="setSidebarColor('primary')"></span>
            <span class="badge filter bg-gradient-dark" [ngClass]="{'active': selectedColor === 'dark'}" (click)="setSidebarColor('dark')"></span>
            <span class="badge filter bg-gradient-info" [ngClass]="{'active': selectedColor === 'info'}" (click)="setSidebarColor('info')"></span>
            <span class="badge filter bg-gradient-success" [ngClass]="{'active': selectedColor === 'success'}" (click)="setSidebarColor('success')"></span>
            <span class="badge filter bg-gradient-warning" [ngClass]="{'active': selectedColor === 'warning'}" (click)="setSidebarColor('warning')"></span>
            <span class="badge filter bg-gradient-danger" [ngClass]="{'active': selectedColor === 'danger'}" (click)="setSidebarColor('danger')"></span>
          </div>
        </div>
        <div class="mt-3">
          <h6 class="mb-0">Sidenav Type</h6>
          <p class="text-sm">Choose between 2 different sidenav types.</p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-primary w-100 px-3 mb-2" [ngClass]="{'active': sidenavType === 'white'}" (click)="setSidenavType('white')">White</button>
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" [ngClass]="{'active': sidenavType === 'dark'}" (click)="setSidenavType('dark')">Dark</button>
        </div>
        <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
        <div class="d-flex my-3">
          <h6 class="mb-0">Navbar Fixed</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" [checked]="isNavbarFixed" (change)="toggleNavbarFixed()">
          </div>
        </div>
        <hr class="horizontal dark my-sm-4">
        <div class="mt-2 mb-5 d-flex">
          <h6 class="mb-0">Light / Dark</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
          </div>
        </div>
        <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/argon-dashboard" target="_blank">View documentation</a>
        <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/argon-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/argon-dashboard on GitHub">Star</a>
          <h6 class="mt-3">Thank you for sharing!</h6>
          <a href="https://twitter.com/intent/tweet?text=Check%20Argon%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fargon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/argon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
          </a>
        </div>
      </div>
    </div>
  </div>